
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="lightblue">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/service">Service</a>
    <a href="/gallery">Gallery</a>
    <a href="/contact">Contact</a>
    <hr color="black" size="5px">
    <h1>This is our about Page</h1>
    <hr color="black" size="5px">
    www.example.com our node.js website
    
</body>
</html>